body { text-align: left;
margin-bottom: 0 auto;}

.head {font-size: 32px;}

.tp {font-style: italic;}

.table {border-bottom: groove;}
th {border-style: groove; border-bottom: 1px; border-collapse: collapse;}
td {border-style: groove; border-bottom: 1px;}
th {border-bottom: 1px;}

.img {float: right; }


